.container {
  padding: 15px 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 10px;

  background: #fff;
  border-radius: 2px;
  height: 230px;
  position: relative;
  box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  &:hover .project_hiddenMenu {
    z-index: 100;
    opacity: 1;
  }
}

.project_imgCont {
  flex: 1;
  background: url("../../assets/img/catreturns.jpg");
  background-size: cover;
}

.project_image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project_desc {
  padding-top: 5px;
  text-align: right;
  font-size: 14px;
  // color: #f5265e;
}

.project_hiddenMenu {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  opacity: 0;
  transition: all 0.3s;

  z-index: -1;
}

.project_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5265e;
  color: #fff;
  padding: 8px 35px 10px 35px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;

  & svg {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    fill: #fff;
  }

  &:hover {
    transform: scale(1.1);
  }
}
