.container {
  display: flex;
  flex-direction: column;

  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.user_info {
  padding: 15px;
  border-bottom: 1px solid #ccc;

  text-align: center;

  & > * {
    margin-bottom: 10px;
  }
}

.user_img_container {
  display: flex;
  justify-content: center;
}
.user_img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.user_name {
  font-size: 19px;
  font-weight: 600;
}

.user_location {
  font-size: 13px;
}

.user_i3 {
  font-size: 14px;
}

.user_email {
  margin: 7px 0;
}

.user_social_cont {
  display: flex;
  justify-content: center;

  & > *:not(:last-child) {
    margin-right: 10px;
  }
}

.user_social {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
}

.user_skills {
  padding: 15px;
}

.user_skill_header {
  font-weight: 600;
  font-size: 15px;
}

.user_skills_cont {
  display: flex;
  flex-wrap: wrap;

  margin: 10px 0;

  & > * {
    margin-right: 10px;
  }
}

.user_skill {
  padding: 3px 5px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-bottom: 10px;
}
